html,body {
    height: 100%;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #398881;
  width: 1350px;
  height: 1500px;
  margin-left: -100px;
  margin-top: -200px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
	position: fixed;
	background-color:#398881;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


.contain {
	animation-delay: 4s;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

/*Animation*/
.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}
.fotinha{
  position: relative;
  padding: 5px;
  width: 300px;
  height: 500px;
  border-radius: 20px;
  float: right;
  left: 160px;
  top: 150px;
}
.foto {
  width: 310px;
  height: 510px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  float: right;
  right: 150px;
  top: 150px;
}
.foto::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.foto::after {
  content: '';
  position: absolute;
  background: #07182E;
  inset: 5px;
  border-radius: 15px;
}  

.box {
position: fixed;
top: 0;
transform: rotate(80deg);
left: 0;
}
.cv {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #ae00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  top: 710px;
  left: 400px;
 }
 
 .cv:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
 }
 
 .cv span {
  position: absolute;
 }
 
 .cv span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 
 .cv:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 .cv span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
 }
 
 .cv:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 .cv span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 .cv:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 .cv span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 .cv:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 .cv:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
 }
 
 .cv:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }
 .enviar {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #ae00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  float: right;
  top: 710px;
  left: 400px;
 }
 
 .enviar:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
 }
 
 .enviar span {
  position: absolute;
 }
 
 .enviar span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 
 .enviar:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 .enviar span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
 }
 
 .enviar:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 .enviar span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 .enviar:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 .enviar span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 .enviar:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 .enviar:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
 }
 
 .enviar:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }
.button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 1em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 17px;
  font-family:'Courier New', Courier, monospace;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

button {
 position: relative;
 padding: 1em 1.8em;
 outline: none;
 border: 1px solid #303030;
 background: #212121;
 color: #ae00ff;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-size: 15px;
 overflow: hidden;
 transition: 0.2s;
 border-radius: 20px;
 cursor: pointer;
 font-weight: bold;
}

button:hover {
 box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
 transition-delay: 0.6s;
}

button span {
 position: absolute;
}

button span:nth-child(1) {
 top: 0;
 left: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, #ae00ff);
}

button:hover span:nth-child(1) {
 left: 100%;
 transition: 0.7s;
}

button span:nth-child(3) {
 bottom: 0;
 right: -100%;
 width: 100%;
 height: 2px;
 background: linear-gradient(90deg, transparent, #001eff);
}

button:hover span:nth-child(3) {
 right: 100%;
 transition: 0.7s;
 transition-delay: 0.35s;
}

button span:nth-child(2) {
 top: -100%;
 right: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(180deg, transparent, #ae00ff);
}

button:hover span:nth-child(2) {
 top: 100%;
 transition: 0.7s;
 transition-delay: 0.17s;
}

button span:nth-child(4) {
 bottom: -100%;
 left: 0;
 width: 2px;
 height: 100%;
 background: linear-gradient(360deg, transparent, #001eff);
}

button:hover span:nth-child(4) {
 bottom: 100%;
 transition: 0.7s;
 transition-delay: 0.52s;
}

button:active {
 background: #ae00af;
 background: linear-gradient(to top right, #ae00af, #001eff);
 color: #bfbfbf;
 box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
 transition: 0.1s;
}

button:active span:nth-child(1) 
span:nth-child(2) 
span:nth-child(2) 
span:nth-child(2) {
 transition: none;
 transition-delay: none;
}

a:link, a:visited,  a:hover, a:active
{
    color: white;
    text-decoration: none;
}
.main-header{
    background-color:#398881;
    padding: 0px 0px 0px 600px;
    width: 100%;
    height:10%;
    position: fixed;
    z-index: 100;
}

.main-header li{
    padding: 10px;
    margin: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style: none;
    right: 70px;
}
.main-footer{
    background-color:#398881;
    text-align: center;    
    z-index: 99;
    width: 100%;
    height: 10%;
}
footer li{
    display: inline-flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.icons{
    color: white;
    font-size: 30px;
}
.fa-check{
    color: greenyellow;
    font-size: 20px;
}
.sessao-um{
    background-color:rgb(0, 0, 0);
    width: 44%;
    position: relative;
    left: 400px;
}
.cont1{
  position: relative;
}
h1{
  color: #2e2b2b;
  font-size: 150px;
}
.cont1 h1{
  position: absolute;
  bottom: 300px;
  left: 350px;
}

.cont2{
  position: relative;
  top: 500px;
}
#p{
  color: #000000;
  font-size: 80px;
  bottom: 400px;
  left: 200px;
}
.cont2 #p,#po,.htp,.fa-python,.fa-java,.fa-html5,.fa-css3-alt,.fa-node-js,.fa-code,.fa-git-alt,.fa-person-through-window{
  position: absolute;
}
#po{
  color: #000000;
  font-size:18px;
  bottom: 80px;
  left: 1600px;
}
.fa-git-alt{
  color: #000000;
  font-size: 100px;
  left: 1345px;
  top: 610px;
}
.fa-java{
  color: #000000;
  font-size: 100px;
  left: 1600px;
  top: 610px;
}
.fa-python{
  color: #000000;
  font-size: 100px;
  left: 1475px;
  top: 610px;
}
.fa-node-js{
  color: #000000;
  font-size: 100px;
  left: 1600px;
  top: 610px;
}
.fa-code{
  color: #000000;
  font-size: 70px;
  left: 1480px;
  top: 725px;
}
.fa-person-through-window{
  color: #000000;
  font-size: 70px;
  left: 1600px;
  top: 730px;
}

.fa-css3-alt{
  color: #000000;
  font-size: 100px;
  left: 1475px;
  top: 500px;
}
.fa-html5{
  color: #000000;
  font-size: 100px;
  left: 1350px;
  top: 500px;

}

.htp{

  left: 1355px;
  top: 500px;
  font-size: 50px;
  text-decoration: none;
  position: relative;
  z-index: 1000;
}
.htp::before{
  content: attr(data-tooltip);
  position: absolute;
  background-color: #ae00af;
  opacity: 0;
  display: none;
}
.htp:hover::before{
  top: 100%;
  opacity: 1;
  display: inline;
}
.fa-node-js{
  color: #000000;
  font-size: 100px;
  left: 1600px;
  top: 500px;
}
h2,h3,h4,h5{
    font-family:'Courier New', Courier, monospace;
    color:white;
    line-height: 1.7;
    
}
h2{
    margin-top: 150px;
    font-size: 50px;
}
h3{
    margin-top: -60px;
    font-size: 17px;
}
h4{
  margin-top: 20px;
  font-size: 20px;
}
h5{
    margin-top: 20px;
    color: #6b5e5e; 
    font-size: 20px;
}
h6{
  color: rgb(235, 11, 11);
  width: 30%;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 2000px;
}
.form{
  position:fixed;
  background-color: #ae00af;
  z-index: 10000;

}